:root {
  --text: #2c3e50;
  --background: #fff;
  --background-second: #eee;
  --strong-border: #777;
  --weak-border: #aaa;
  --input-value-primary: #c6d2f6;
  --input-value-primary-text: #fff;
  --input-value-primary-shadow: #191970;
  --input-value-selected-weak: #ddd;
  --dialog-button-primary: #4169e1;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --text: #fff;
    --background: #181818;
    --background-second: #777;
    --strong-border: #ccc;
    --weak-border: #555;
    --input-value-primary: #3465bd;
    --input-value-primary-text: #fff;
    --input-value-primary-shadow: #191970;
    --input-value-selected-weak: #666;
    --dialog-button-primary: #4169e1;
  }
}

/* FIXME: No good way to avoid duplicated difinition */
:root.theme-dark {
  --text: #fff;
  --background: #181818;
  --background-second: #777;
  --strong-border: #ccc;
  --weak-border: #555;
  --input-value-primary: #3465bd;
  --input-value-primary-text: #fff;
  --input-value-primary-shadow: #191970;
  --input-value-selected-weak: #666;
  --dialog-button-primary: #4169e1;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text);
  background-color: var(--background);
}
input,
select,
button {
  color: var(--text);
  background-color: var(--background);
}
input {
  max-width: 100%;
}
input:disabled {
  opacity: 0.5;
  cursor: default;
}
input[type='text'] {
  padding: 2px 4px;
  border: solid 1px var(--strong-border);
}
input[type='number'] {
  padding: 2px 0 2px 4px;
  border: solid 1px var(--strong-border);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}
.view-only {
  pointer-events: none;
}
